body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.heading{
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.photo{
    width: 520px;
}

li{
    font-size: 20px;
}